<div class="w-container">
  <div class="w-wallet">
    <div class="w-cards-container">
      <h2 class="w-title">My Wallet</h2>
      <w-cards
        [cards]="cards"
        [selectedCard]="selectedCard"
        (addCard)="onAddCard()"
        (selectCard)="onSelectCard($event)"
      ></w-cards>
    </div>
    <div class="w-transactions-container">
      <w-card-balance [balance]="selectedCard?.balance"></w-card-balance>
      <w-transactions [card]="selectedCard"></w-transactions>
    </div>
  </div>
</div>
