<div class="w-container">
  <div class="w-wallet">
    <div class="w-cards-container">
      <h2 class="w-title">My Wallet</h2>
      <w-cards
        cards="cards"
        selected-card="selectedCard"
        on-add-card="onAddCard()"
        on-select-card="onSelectCard($event)"
      ></w-cards>
    </div>
    <div class="w-transactions-container">
      <w-card-balance balance="selectedCard.balance"></w-card-balance>
      <w-transactions card="selectedCard"></w-transactions>
    </div>
  </div>
</div>
