<div class="w-container">
  <div class="w-wallet">
    <div class="w-cards-container">
      <h2 class="w-title">My Wallet</h2>
      <w-cards
        cards="$ctrl.cards"
        selected-card="$ctrl.selectedCard"
        on-add-card="$ctrl.onAddCard()"
        on-select-card="$ctrl.onSelectCard($event)"
      ></w-cards>
    </div>
    <div class="w-transactions-container">
      <w-card-balance balance="$ctrl.selectedCard.balance"></w-card-balance>
      <w-transactions card="$ctrl.selectedCard"></w-transactions>
    </div>
  </div>
</div>
