<div class="w-transaction">
  <w-transaction-type-icon
    class="w-transaction-type"
    type="transaction.type"
  ></w-transaction-type-icon>

  <div class="w-transaction-main">
    <div class="w-transaction-reference">{{ transaction.reference }}</div>
    <div class="w-transaction-date">{{ transaction.date | date:'short' }}</div>
  </div>

  <div class="w-transaction-right">
    <w-transaction-amount transaction="transaction"></w-transaction-amount>
    <div class="w-transaction-group">{{ transaction.group }}</div>
  </div>
</div>
